img {
  width:400px;
  margin: 20px;
  /* padding: 20px; */
  border: 1px solid rgb(219, 189, 189);
  
}

footer {
  clear: both;
}

section {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

div .image {
  display: flex;
 max-width:450px;
}

img {
  max-width: 100%;
  width: 400px;
}

p {
  overflow: hidden;
}
