img {
  margin: 20px;
  border: 1px solid rgb(219, 189, 189);
  width: 320px;
}

footer {
  clear: both;background-image: none;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.image {
  margin-bottom: 50px;
  margin-right: 10px;
  background-image: url("../img/scolorful.jpg");
  padding-top: 20px;
}
  